{% extends 'base.html' %}

{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row">


            <div class="col-12 p-0 m-0 index-bg-img-1 text-center ">


                <div>
                    <h1> Shop our latest now </h1>
                </div>

            </div>

            <!----
            <div class="col-6 m-0 p-0 index-bg-img-2">



            </div>
            ---->

        </div>

    </div>

{% endblock %}