{% extends 'base.html' %}

{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-6">

                <img src="/media/homeimg1.jpg" class="img-fluid" alt="...">

            </div>

            <div>
                <h1> Shop our latest now </h1>
            </div>

            <div class="col-6">

                <img src="/media/homeimg2.jpg" class="img-fluid" alt="...">

            </div>

        </div>

    </div>

{% endblock %}