{% extends 'base.html' %}

{% load static %}

{% load mathfilters %}

{% block page_header %}

{% endblock %}

{% block content %}

    <div class="container-fluid mb-auto">

      <h1 class="h5"> Your Basket </h1>

      <hr>

      <br>

        <div class="row m-auto">

          {% if basket_items %}

          {% for item in basket_items %}

          <table class="table table-borderless">

            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Total</th>
              </tr>
            </thead>

            <tbody>

                <tr>

                    <td>

                      <a href="">

                        <img src="{{ item.product.image.url}}" width="100px" class="img-fluid" alt="{{ product.name }}">
                        
                      </a>

                    </td>

                    <td>

                      <a href="{{ item.product.get_absolute_url }}">

                        <h6>{{ item.product.name }}</h6>
      
                      </a>

                    </td>

                    <td>

                      <p> £ {{ item.product.price }}</p>

                    </td>

                    <td>

                      <p> {{ item.quantity }}</p>

                    </td>
                    <td>

                        <p> £ {{ item.product.price | mul:item.quantity }}</p>

                    </td>

                </tr>

            </tbody>

        </table>

          {% endfor %}

          {% else %}

          <p>Your basket is empty </p>

          {% endif %}


        </div>

    </div>

{% endblock %}