@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html {
    height: 100%;
}

/** -------------------------------------Padding, Margins, Text, **/
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

a:link {
    text-decoration: none;
}

.btn-border {

    border-left: 0.5px solid;
    color: #B9B6C8 !important;
}

.btn-hover:hover {
    text-decoration:underline;
}

.logo-font {

    font-family: 'Abril Fatface', cursive !important;
    font-size: 1.5rem;
    color: #FF862A !important;


}


/** -------------------------------------Background colours **/

.clr-grey {
    color: #B9B6C8 !important;
}
.bg-orange {
    background-color: black;
}