@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html {
    height: 100%;
}

/** -------------------------------------Padding, Margins, Text, **/
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

a:link {
    text-decoration: none;
}

.btn-border {

    border-left: 0.5px solid;
    color: #B9B6C8 !important;
}

.btn-hover:hover {
    text-decoration:underline;
}

.logo-font {

    font-family: 'Abril Fatface', cursive !important;
    font-size: 2rem;
    color: black !important;


}

/** -------------------------------------Background Images **/

.index-bg-img-1 {
    background-image: url('/media/homeimg1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60vh;
}

/**
.index-bg-img-2 {
    background-image: url('/media/homeimg2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
}
**/

/** -------------------------------------Footer Section **/

.social-link {

    margin: 0 3rem 0 3rem;
    font-size: 2rem;
    color:#B9B6C8 ;
}

.social-link:hover {
    color: #C35355 !important;
}


/** -------------------------------------Background colours and Colours **/

.clr-grey {
    color: #B9B6C8 !important;
}

.clr-red {
    color:#C35355;
}

.bg-brown {

    background-color: #BAA89B;

}


.bg-grey {

    background-color: #DAECEC;

}

.bg-orange {
    background-color: #FF862A;
}

.footer-bg-clr {

    background-color: #C35355;
}
