{% extends 'base.html' %}

{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

    <div class="container-fluid mb-auto ">

        <h2>Manage Products</h2>

        <hr>

        <br>

        <h6><u> Add a comment </u></h6>

        <br>

        <div class="row">

            <div class="col-lg-6 col-md-12 mb-3">

                    <form method="POST" action="">
                        {% csrf_token %}

                        {{comment_form | crispy }}

                        <div class="float-right">

                            <button class="btn bg-dark text-white rounded-1" type="submit"> Add Comment </button>

                        </div>

                    </form>


            </div>


        </div>





    </div>

{% endblock %}