{% extends 'base.html' %}

{% load static %}

{% block extra_css %}

    <link rel="stylesheet" type="text/css" href="{% static 'profile_management/css/profile_management.css' %}">

{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}

    <div class="container-fluid mb-auto ">

        <h2> My Profile</h2>

        <hr>

        <br>

        <div class="row">

            <div class="col-12 col-lg-6">

                <fieldset>

                    <legend><u>Default Delivery Information</u></legend>
                    

                    <br>

                    <form action="{% url 'view_profile' %}" method="POST" id="profile-update-form">

                        {% csrf_token %}

                        {{ form|crispy }}

                        <button type="submit"
                            class="p-1 btn bg-dark text-white border-dark rounded-1 float-right">Update
                            Information</button>

                    </form>

                </fieldset>

            </div>

            <div class="col-12 col-lg-6">

                <p>Order History </p>

                {{ orders }}



            </div>


        </div>



    </div>

{% endblock %}