{% extends "base.html" %}

{% load static %}


{% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-5 col-md-12 p-0 m-0">
            
                <div class="p-2">
            
                    <a href="{{ product.image.url }}" target="_blank"> <img class="img-fluid mx-auto" alt="{{ product.name }}"
                            src="{{ product.image.url }}"> </a>
            
                </div>
            
            </div>
            
            <div class="col-lg-5 col-md-12 p-0 m-0">
            
                <h1 class="p-2"> {{product.name}} </h1>
            
                <hr>
            
                <div class="border">
            
                    <div class="col border-bottom">
            
                        <div class="row p-3">
            
                            <div class="col-6"> Price </div>
            
                            <div class="col-6 "><span>$ {{product.price}} </span></div>
            
                        </div>
            
                        <div class="row p-3">
            
                            <div class="col-6"> Size</div>
            
                            <div class="col-6 "><span>$ {{product.size}} </span></div>
            
                        </div>
            
                    </div>
            
                </div>

                <div>

                    <form method="POST" action="{% url 'add_to_basket' product.id %}">

                        <label class="ml-2">Qty:</label>
                        
                        {% csrf_token %}

                        <select id="selected_{{product.id}}" name="quantity" class="p-1 ">

                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>

                        </select>

                        <input type="hidden" name="redirect_url" value="{{ request.path }}">

                        <input type="submit" class="btn bg-logo-red rounded-1 float-right mr-1" value="Add to Basket">
                    </form>
                    <hr>

                </div>

                <div class="row m-0">

                    <div class="col-10">

                        <p> {{ product.description }} </p>

                    </div>
                    
                </div>

            </div>


        </div>

        <br><br>

        <div class="row">
        
            <div class="col-lg-8 col-md-12">
                {% if request.user.is_authenticated %}
                <div class="row">
        
                    <div class="col-12 text-center">

                        <hr>
        
                        <a href="{% url 'add_comment' product.id %}" class="btn bg-logo-red rounded-1"> Add
                            comment</a>

                        <hr>
        
                    </div>
        
                </div>
                {% endif %}
        
            </div>

            <div class="col-lg-5 col-md-12 p-0 m-0">

                <div>
            
                {% for comment in comments %}
                {% if comment %}
                <div class="card p-4">
            
                    <div class="card-header">
            
                        {{comment.title}}
            
                    </div>
            
                    <div class="card-body">
            
                        <blockquote class="blockquote mb-0">
                            <p>{{comment.content}}</p>
                            <footer class="blockquote-footer"> by {{comment.user_name}} <span
                                    class="float-right">{{comment.posted_on}}</span></footer>
                        </blockquote>
                    </div>
                </div>
            
                {% else %}
            
                <p> No comments</p>
            
                {% endif %}
            
                {% endfor %}
            
            </div>

    </div>

{% endblock %}

{% block extra_js %}
{{ block.super }}

    <script src="{% static 'products/js/products.js' %}"></script>

{% endblock %}